* {
    padding:0;
    margin: 0;
    font-size: 100%;
    line-height: 1.4em;
}

body{
    font-family: Dosis, sans-serif;
    font-weight: 200;
    background-color: #fcf4dc;
	width: 100%;
    min-width: 600px;
    height: 100%;
}

nav{
    float: left;
    position: fixed;
    width: 33%;
    min-width: 200px;
    height: 100%;
    background:url(images/green.png) repeat;
    box-shadow: 5px 5px 15px #000;
}

#image{
    margin-top: 150px;
    text-align: center;
}

#image img.avatar{
  margin-bottom: 30px;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin-top: -30px;
}

#nav{
    margin-top: 50px;
    text-align: center;
}

#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 9px;	
	
	padding-left: 21px;
}

#nav li a { 
    color: #fff; 
    opacity:1; 
    font-size: 40px; 
    text-decoration: none; 
    font-family: Dosis, sans-serif; 
    font-weight: 200; 
}

#nav li a.active { 
    color: #fff; 
    opacity:1;  
}

#nav li a:hover { 
    color: #fff; 
    border-top: 2px solid #fff;
}

#content{
    float:right;
    width: 67%;
    min-width: 400px;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

#intro{
    
}

.intro {
  height: 70vh;
}

#about{
    float: right;
    width: 67%;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 30px;
}

#about h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 200;
}

#contact{
    float: right;
    width: 67%;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 30px;
}

#contact h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 200;
}

#contact ul{
	list-style: none;
    margin-top: 150px;
}

#contact li{
    display: inline;
	margin-top: 9px;	
	padding-left: 21px;
}

#contact li a { 
    opacity:1;  
    text-decoration: none; 
}

#contact li a.active {  
    opacity:1;  
}

#contact li a:hover { 
    opacity: 0.6;
}